/* Smartphones (portrait and landscape) ----------- */
@media
	(min-width : 320px) 
and (max-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media
	(min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media 
	(min-width : 768px) 
and (max-width : 1024px) {
	.mision, .quienes, .services {
		padding-bottom: 0;
		padding-top: 20px;
	}
	h5,.h5{
		font-size: 1.1em;
	}
}

/* iPads (landscape) ----------- */
@media 
	(min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) ----------- */
@media
	(min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) {

}

/* Desktops and laptops ----------- */
@media
	(min-width : 1224px) {
	h5,.h5{
		font-size: 1.2em;
	}
}

/* Large screens ----------- */
@media 
	(min-width : 1824px) {
/* Styles */

}

/* iPhone 4 ----------- */
@media
	(-webkit-min-pixel-ratio : 1.5),
and (min-pixel-ratio : 1.5) {
/* Styles */
}